body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: gold;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
    padding: 0 15px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: red;
    /* لون النص الرئيسي */
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.5em;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.unit {
    padding: 10px;
    border-radius: 10px;
    background-color: #222;
    /* خلفية سوداء للعداد */
    color: gold;
    /* لون ذهبي للنص */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.time {
    font-size: 2em;
}

.goal-video {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    border: 2px solid #000;
    /* إطار للفيديو */
}

.copyright {
    position: relative;
    margin-top: 20px;
}

.copyright p {
    font-size: 0.8em;
}

.instagram-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}


/* تحسين التجاوب (Responsive Design) */

@media (max-width: 768px) {
    .countdown {
        flex-direction: column;
        gap: 5px;
    }
    h1 {
        font-size: 2em;
    }
    .goal-video {
        max-width: 100%;
    }
}